jupyter
requests
pandas
matplotlib
seaborn
plotly
PyPDF2
beautifulsoup4
Pillow
folium
pycoingecko
opencv-python
pytesseract
nltk
psycopg2-binary
sqlalchemy
flickrapi
xlwt
openpyxl
selenium
webdriver-manager
yfinance
ta
openrouteservice
statsmodels
pathlib
tabulate
autopep8
pycodestyle
pylint
reportlab
pytz
prettytable
pykafka
flask
feedparser
wordcloud
